body {
    font-family: "Sulphur Point";
    font-weight: bold;
    background-color: #ecfff4;
}


nav {
    background-color: #ffa9ba; 
    display: flex;
    justify-content: right;
    padding:  10px 10%;
}


#main-menu {
    display: flex;
    gap: 30px;
}


#main-menu li {
    list-style: none;
}


#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "Sulphur Point";
    font-size: 30px;
    color: #ecfff4;
    font-weight: bold;
    border-width: 0;
    text-decoration: none;
    text-shadow: grey 1px 1px;
}

#main-menu button a:hover{
    text-decoration: underline;
    transition: color .5s;
}


#main-menu .dropdown {
    background-color: white;
    color: #ff2a54;
    margin: 0px;
    padding: 30px;
    position: absolute;
    display:none;
    z-index: 99;
}


#main-menu .dropdown a {
    color: #ff2a54;
}


#main-menu .sub-menu:hover .dropdown {
    display: block;
}


#background {
    background-image: url(images/icecreambackground.png);
    height: 441px;
    width:1440px;
    display:flex;
    justify-content: right;  
}


#h1 {
    color:#ff2a54;
    font-family:"Hind Siliguri";
    font-weight: 800;
    font-size: 45px;
    padding-top: 20%;
    padding-right: 50%;
    text-shadow: 2px 2px grey;
}


#showcase > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 370px;
    width: 993px;
    gap: 29px;
}


#showcase .Icecreamlink {
    display: block;

}


#showcase .toppingslink {
    display: block;
}



#showcase .icecream {
        background-image: url(images/Rectangle\ 5.png);
        background-color: #ffa9ba;
        font-family:"sulphur point";
        font-size: 40px;
        font-weight: bold;
        color: white;
       border-color: white;
       text-shadow: grey 2px 2px;
       width: 100%;
       height: 100%;
}


#showcase .icecream:hover {
    border-color:#ffa9ba;
    border-width: 5px;
}


#showcase .waterice {
        background-image: url(images/Rectangle\ 6.png);
        background-color: #cff6de;
        font-family:"Sulphur Point";
        font-size: 40px;
        font-weight: bold;
        color: #ff2a54;
        border-color: white;
        text-shadow: grey 2px 2px;
}


#showcase .waterice:hover {
    border-color:#cff6de;
    border-width: 5px;
}


#showcase .toppings {
        background-image: url(images/Rectangle\ 4.png);
        background-color: #ffa9ba;
        font-family:"Sulphur Point";
        font-size: 40px;
        font-weight: bold;
        color: #ecfff4;
        border-color: white;
        text-shadow: grey 2px 2px;
        width: 100%;
        height: 100%;
}


#showcase .toppings:hover {
    border-color:#ffa9ba;
    border-width: 5px;
}


.logo {
    position:absolute;
    padding-left: 5%;
    padding-top: 2%;
}


.hoursandlocation {
    position: absolute;
    padding-top: 3%;
}


.map a{
    position: absolute;
    padding-top: 0%;
    padding-left: 45%;
    font-family: "sulphur point";
    font-size: 30px;
    color: white;
    text-shadow: grey 2px 2px;
    bottom: 130px;
    z-index:99;
}

.map a:hover {
    color: #ff2a54;
    transition: color .5s;
        
}


footer {
    font-family: "Sulphur Point";
    font-size: 24px;
    color: white;
    background-color: #ffa9ba;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex; 
    gap: 47%;
}


#email {
    font-family:"Sulphur Point";
    color: black;
    background-color: white;
    font-size: 24px;
    justify-items: right;
    padding-top: 2%;
}


button {
    color: white;
    background-color: #ff2a54;
    font-family: "sulphur point";
    border-color: white;
    font-size: 24px;
}


button:hover {
    color:#cff6de;
    border-color: #cff6de;
}



#social-media {
    padding-bottom:1%;
    padding-top: 1%;
    padding-left: 1%;
    justify-content: left;
   
}














